<!DOCTYPE html>
<center>
<html lang="en">
<head>
    <%- include('./components/head') %>
</head>

    <div id="main">
        <%- include("components/navbar") %>
        <h1>Welcome To The Belanja.Id 👋🏼 <%= name %> </h1>
        <img src="https://cf.shopee.co.id/file/8f47325062d3b3000a19000735b77a5b" alt="Arts Logo" width="100">
        <div id="menu-box">
        </div>
    </div>
<body>
    <div class="container w-80">
        <table border="2" class="table mb-10">
            <tr>
                <th>List Barang</th>
                <th>List Product</th>
            </tr>
                <%  for(let i = 0; i < data.length; i++){  %>
                    <tr>
                        <td> <%= data[i].name %> </td>
                        <td>
                        <a href="/product/<%= data[i].id %>">Klik</a>
                        </td>
                    </tr>
                <% } %>
        </table><br>
        <a href='/logout'> LOGOUT </a>
    </div>
</center>
</body>
</center>
</head>
</html>