<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head') %>
</head>
<body>
    <center>
    <%- include("components/navbar") %>
        <div>
            <a style="text-decoration: none; color: rgb(85, 83, 204);">
                <h1>Transaction</h1>
            </a>
        </div>

        <div>
            <table border='2'>
                <tr>
                    <tr>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Total Produk</th>
                        <th>Action</th>
                    </tr>
                </tr>
                
                <tr>
                    <form method="get" action="/product/transaction/<%= product.id %>/deal">
                        <td><%= product.name %></td>
                        <td><%= product.description %></td>
                        <td><%= formattedDate(product.createdAt) %></td>
                        <td><%= product.price %></td>
                        <td><input type="number" name="stock" ><br><br></td>
                        <td><button type= "submit">Deal</button></td>
                    </form>
                    
                </tr>
                
            </table>
            
        </div>
    </center>
</body>
</html>